<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/cart.css" rel="stylesheet" />
</head>
<body>
    <header th:replace="/header :: header"></header>
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" id="clothes-all" class="clothes" name="clothes" value="all" checked></th>
                    <th>이미지</th>
                    <th>정보</th>
                    <th>옵션</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="total">
            <h3>구매 금액</h3>
            <p><span>상품 금액</span><span class="product-total-money">0</span><span>원</span></p>
            <p><span>할인 금액</span><span class="product-total-discount-money">0</span><span>원</span></p>
            <p><span>배송비</span><span class="delivery-money">0</span><span>원</span></p>
            <p><span>총 구매 금액</span><span class="total-buy-money">0</span><span>원</span></p>
            <button class="buy-btn">구매하기</button>
        </div>
    </div>
</body>
<script>
    let cartData;
    $.ajax({
        url : '/cartList',
        type : 'POST',
        data : {"userId":"deoksu"},
        success : function(data){
            cartData = data
            for(let i=0;i<data.length;i++){
                data.cnt = JSON.parse(data[i].cnt)
                let c_total = {}
                let t = ""
                t += '<tr>'
                t +=    '<td><input type="checkbox" class="clothes" name="clothes" value="'+data[i].productId+'" checked></td>'
                t +=    '<td>'
                t +=        '<picture>'
                t +=            '<source srcset="/imgLoad?img='+data[i].img+'" type="image/webp" />'
                t +=            '<a href="/sell?productId='+data[i].productId+'">'
                t +=                '<img src="/imgLoad?img='+data[i].img+'" />'
                t +=            '</a>'
                t +=        '</picture>'
                t +=    '</td>'
                t +=    '<td>'
                t +=        '<a href="/sell?productId='+data[i].productId+'">'+data[i].productName+'</a>'
                t +=        '<span class="price"><em class="discount">'+(data[i].discount==0 ? '' : data[i].discount+'%')+'</em><em>'+data[i].price+'</em></span>'
                t +=        '<div class="color">'
                for(let color in data.cnt){
                    t += '<div class="color-'+color+'" style="background-color:#'+color+';' +
                            'border-color:#'+(parseInt(color)>7631988?"000000":'ffffff')+';' +
                            'color:#'+(parseInt(color)<7631988?"ffffff":'000000')+';">'
                    for(let size in data.cnt[color]){
                        t += '<input type="hidden" class="c-'+color+"-"+size+'" value="'+data.cnt[color][size]+'">'
                        if(Object.keys(c_total).includes(color)){
                            c_total[color] += parseInt(data.cnt[color][size])
                        }else{
                            c_total[color] = parseInt(data.cnt[color][size])
                        }
                    }
                    t += '</div>'
                }
                t +=        '</div>'
                t +=        '<select>'
                t +=        '<option selected hidden class="default">사이즈</option>'
                let color = Object.keys(data.cnt)[0];
                for(let i=0;i<Object.keys(data.cnt[color]).length;i++){
                    t += '<option value="'+color+'-'+Object.keys(data.cnt[color])[i]+'" '+
                                'style="background-color:#'+color+';' +
                                'color:#'+(parseInt(color)<7631988?"ffffff":'000000')+';">'
                    t += Object.keys(data.cnt[color])[i]
                    t += '</option>'
                }
                t +=        '</select>'
                t +=    '</td>'
                t +=    '<td>'
                t +=        '<p class="x-btn">X</p>'
                t +=        '<div class="size-cnt">'
                for(let color in data.cnt){
                    for(let size in data.cnt[color]){
                        if(data.cnt[color][size] > 0){
                        t += '<div class="size-cnt-one">'
                        t +=     '<div class="color-'+color+'" style="background-color:#'+color+';' +
                                    'border-color:#'+(parseInt(color)>7631988?"000000":'ffffff')+';' +
                                    'color:#'+(parseInt(color)<7631988?"ffffff":'000000')+';"></div>'
                        t +=     '<label class="size">'+size+'</label>'
                        t +=     '<label class="cnt">'
                        t +=         '<span class="minus-btn">'
                        t +=             '<label></label>'
                        t +=         '</span>'
                        t +=         '<span class="num">'+data.cnt[color][size]+'</span>'
                        t +=         '<span class="plus-btn">'
                        t +=             '<label></label>'
                        t +=             '<label></label>'
                        t +=         '</span>'
                        t +=      '</label>'
                        t +=      '<label class="money">'+(parseInt(data[i].price * ((100-parseInt(data[i].discount))*0.01))*parseInt(data.cnt[color][size]))+'원</label>'
                        t += '</div>'
                        }
                    }
                }
                t +=        '</div>'
                t +=        '<p class="total-money"><span class="total-cnt">총 0개</span><span class="money">0원</span></p>'
                t +=    '</td>'
                t += '</tr>'
                document.querySelector("tbody").innerHTML += t;

                let el = document.querySelectorAll("tbody tr")[i]
                let el2 = el.querySelectorAll(".size-cnt-one .num")
                let el3 = el.querySelectorAll(".size-cnt-one .money")
                let total_cnt = 0
                let total_money = 0
                for(let a=0;a<el2.length;a++){
                    total_cnt += parseInt(el2[a].textContent)
                    total_money += parseInt(el3[a].textContent.replace("원",""))
                }
                el.querySelector(".total-money .total-cnt").textContent = "총 "+total_cnt+"개"
                el.querySelector(".total-money .money").textContent = total_money+"원"
                
                document.querySelector(".total .product-total-money").textContent = parseInt(document.querySelector(".total .product-total-money").textContent)+data[i].price*total_cnt
                document.querySelector(".total .product-total-discount-money").textContent = parseInt(document.querySelector(".total .product-total-discount-money").textContent)+((parseInt(data[i].price)*total_cnt)-total_money)
            }
            document.querySelector(".total .total-buy-money").textContent = 
            parseInt(document.querySelector(".total .product-total-money").textContent)-parseInt(document.querySelector(".total .product-total-discount-money").textContent)
            
            
            
        },
        error : function(error){
            console.log(error)
        }
    });


    document.querySelector("tbody").addEventListener("click",(e)=>{
       if(e.target.className=='plus-btn'){
            let num = parseInt(e.target.previousElementSibling.textContent)
            num += 1
            e.target.previousElementSibling.textContent = num
            calculate(e.target)
            console.log(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .total-cnt"))
            let cnt = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .total-cnt").textContent.split(" ")[1].replace("개",""))
            let price = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.querySelectorAll(".price em")[1].textContent);
            let money = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .money").textContent.replace("개",""))
            let discount = (price * cnt - money) / cnt
            document.querySelector(".total .product-total-money").textContent = parseInt(document.querySelector(".total .product-total-money").textContent) + price * 1
            document.querySelector(".total .product-total-discount-money").textContent = parseInt(document.querySelector(".total .product-total-discount-money").textContent) + discount
            
        }else if(e.target.tagName=='LABEL' && e.target.parentNode.className == 'plus-btn'){
            let num = parseInt(e.target.parentNode.previousElementSibling.textContent)
            num += 1
            e.target.parentNode.previousElementSibling.textContent = num
            calculate(e.target.parentNode)
            let cnt = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .total-cnt").textContent.split(" ")[1].replace("개",""))
            let price = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.querySelectorAll(".price em")[1].textContent);
            let money = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .money").textContent.replace("개",""))
            let discount = (price * cnt - money) / cnt
            document.querySelector(".total .product-total-money").textContent = parseInt(document.querySelector(".total .product-total-money").textContent) + price * 1
            document.querySelector(".total .product-total-discount-money").textContent = parseInt(document.querySelector(".total .product-total-discount-money").textContent) + discount
            
        }else if(e.target.className=='minus-btn'){
            let num = (e.target.nextElementSibling.textContent);
            num -= 1
            e.target.nextElementSibling.textContent = num
            calculate(e.target)
            let cnt = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .total-cnt").textContent.split(" ")[1].replace("개",""))
            let price = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.querySelectorAll(".price em")[1].textContent);
            let money = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .money").textContent.replace("개",""))
            let discount = (price * cnt - money) / cnt
            document.querySelector(".total .product-total-money").textContent = parseInt(document.querySelector(".total .product-total-money").textContent) - price * 1
            document.querySelector(".total .product-total-discount-money").textContent = parseInt(document.querySelector(".total .product-total-discount-money").textContent) - discount
            
            if(num<1){
                e.target.parentNode.parentNode.remove()
            }
        }else if(e.target.tagName=='LABEL' && e.target.parentNode.className == 'minus-btn'){
            let num = (e.target.parentNode.nextElementSibling.textContent);
            num -= 1
            e.target.parentNode.nextElementSibling.textContent = num
            calculate(e.target.parentNode)
            let cnt = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .total-cnt").textContent.split(" ")[1].replace("개",""))
            let price = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.querySelectorAll(".price em")[1].textContent);
            let money = parseInt(e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.querySelector(".total-money .money").textContent.replace("개",""))
            let discount = (price * cnt - money) / cnt
            document.querySelector(".total .product-total-money").textContent = parseInt(document.querySelector(".total .product-total-money").textContent) - price * 1
            document.querySelector(".total .product-total-discount-money").textContent = parseInt(document.querySelector(".total .product-total-discount-money").textContent) - discount
            
            if(num<1){
                e.target.parentNode.parentNode.parentNode.remove()
            }
            
        }else if(e.target.className == 'cancel-btn'){
            e.target.parentNode.parentNode.remove()
        }else if(e.target.parentNode.className == 'color'){
            let v = e.target.querySelectorAll("input");
            for(let i=0;i<v.length;i++){
                let vv = v[i].className.split("-")
                e.target.parentNode.parentNode.querySelectorAll("option")[i+1].value = vv[1]+"-"+vv[2]
                e.target.parentNode.parentNode.querySelectorAll("option")[i+1].style.backgroundColor = '#'+vv[1]
                e.target.parentNode.parentNode.querySelectorAll("option")[i+1].style.color = '#'+(parseInt(vv[1])<7631988?"ffffff":'000000')
            }
        }else if(e.target.tagName=="INPUT" && e.target.className=="clothes"){
            let cnt = parseInt(e.target.parentNode.parentNode.querySelector(".total-money .total-cnt").textContent.split(" ")[1].replace("개",""))
            let price = parseInt(e.target.parentNode.parentNode.querySelectorAll(".price em")[1].textContent);
            let money = parseInt(e.target.parentNode.parentNode.querySelector(".total-money .money").textContent.replace("개",""))
            let discount = price * cnt - money
        
            if(e.target.checked){
                document.querySelector(".total .product-total-money").textContent = parseInt(document.querySelector(".total .product-total-money").textContent) + price * cnt
                document.querySelector(".total .product-total-discount-money").textContent = parseInt(document.querySelector(".total .product-total-discount-money").textContent) + discount
            }else{
                document.querySelector(".total .product-total-money").textContent = parseInt(document.querySelector(".total .product-total-money").textContent) - price * cnt
                document.querySelector(".total .product-total-discount-money").textContent = parseInt(document.querySelector(".total .product-total-discount-money").textContent) - discount
            }
            
        }    
        document.querySelector(".total .total-buy-money").textContent = parseInt(document.querySelector(".total .product-total-money").textContent)-parseInt(document.querySelector(".total .product-total-discount-money").textContent)
        
    })

    document.querySelector("table").addEventListener("input",(e)=>{
        if(e.target.tagName == 'SELECT'){
            let tr = e.target.parentNode.parentNode
            let el = tr.querySelectorAll(".size-cnt-one");
            let ch = -1;
            for(let i=0;i<el.length;i++){
                if(e.target.value == el[i].querySelector("div").className.split("-")[1]+"-"+el[i].querySelector(".size").textContent){
                    ch = i
                    break
                }
            }
            
            if(ch == -1){
                let t = ""
                let color = e.target.value.split("-")[0]
                let size = e.target.value.split("-")[1]
                let price = parseInt(tr.querySelectorAll(".price em")[1].textContent)
                let discount = parseInt(tr.querySelectorAll(".discount")[0].textContent)
                t += '<div class="size-cnt-one">'
                t +=     '<div class="color-'+color+'" style="background-color:#'+color+';' +
                            'border-color:#'+(parseInt(color)>7631988?"000000":'ffffff')+';' +
                            'color:#'+(parseInt(color)<7631988?"ffffff":'000000')+';"></div>'
                t +=     '<label class="size">'+size+'</label>'
                t +=     '<label class="cnt">'
                t +=         '<span class="minus-btn">'
                t +=             '<label></label>'
                t +=         '</span>'
                t +=         '<span class="num">1</span>'
                t +=         '<span class="plus-btn">'
                t +=             '<label></label>'
                t +=             '<label></label>'
                t +=         '</span>'
                t +=      '</label>'
                t +=      '<label class="money">'+(parseInt(price * ((100-parseInt(discount))*0.01)))+'원</label>'
                t += '</div>'

                tr.querySelector(".size-cnt").innerHTML += t
                calculate(tr.querySelectorAll(".cnt .plus-btn")[tr.querySelectorAll(".cnt").length-1])
            }
        }
    })

    document.querySelector("table").addEventListener("click",(e)=>{
        if(e.target.className == 'x-btn'){
            $.ajax({
                url : '/cartDelete',
                type : 'POST',
                data : {
                    "userId":"deoksu",
                    "productId":e.target.parentNode.parentNode.querySelector(".clothes").value
                },
                success : function(data){
                    e.target.parentNode.parentNode.remove()
                },
                error : function(error){
                    console.log(error)
                }
            });
        }
    })

    document.querySelector(".buy-btn").addEventListener("click",()=>{

        let el = document.querySelectorAll(".clothes")
        let tmpCartData = []
        for(let i=0;i<el.length;i++){
            if(el[i].checked){
                for(let a=0;a<cartData.length;a++){
                    if(cartData[a].productId==el[i].value){
                        tmpCartData.push({
                            productId:cartData[a].productId,
                            userId:cartData[a].userId,
                            cnt:cartData[a].cnt
                        })
                    }
                }
            }
        }
        $.ajax({
            url : '/tmpCartSave',
            type : 'POST',
            contentType: 'application/json',
            data : JSON.stringify(tmpCartData),
            success : function(data){
                location.href="/buy?keyData="+data
            },
            error : function(error){
                console.log(error)
            }
        });
    })

    document.querySelector("#clothes-all").addEventListener("click",(e)=>{
        let el = document.querySelectorAll(".clothes")
        for(let i=0;i<el.length;i++){
            el[i].checked = e.target.checked
        }
    })



    function calculate(target){
        let currentTarget = target.parentNode.parentNode.parentNode.parentNode.parentNode
        let discount = currentTarget.querySelectorAll(".price em")[0].textContent
        discount = discount == '' ? 0 : parseInt(discount)
        let money = parseInt(currentTarget.querySelectorAll(".price em")[1].textContent);
        let num = parseInt(target.parentNode.parentNode.querySelector(".num").textContent)
        target.parentNode.parentNode.querySelector(".money").textContent = (num * parseInt(money * ((100-parseInt(discount))*0.01))) + '원'
        
        let total_num = 0;
        for(let i=0;i<currentTarget.querySelectorAll(".size-cnt-one .num").length;i++){
            total_num += parseInt(currentTarget.querySelectorAll(".size-cnt-one .num")[i].textContent)
        }
        currentTarget.querySelector(".total-cnt").textContent = "총 "+total_num + '개'
        currentTarget.querySelector(".total-money .money").textContent = (total_num * parseInt(money * ((100-parseInt(discount))*0.01))) + '원'
    }
</script>
</html>