<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/cart.css" rel="stylesheet" />
</head>
<body>
    <header th:replace="/header :: header"></header>
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>이미지</th>
                    <th>이름</th>
                    <th>사이즈</th>
                    <th>가격</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
<script>
    $.ajax({
        url : '/cartList',
        type : 'POST',
        data : {"userId":"deoksu"},
        success : function(data){
            for(let i=0;i<data.length;i++){

                let c_total = {}
                let t = ""
                t += '<tr>'
                t +=    '<td>'
                t +=        '<picture>'
                t +=            '<source srcset="/imgLoad?img='+data[i].img+'" type="image/webp" />'
                t +=            '<a href="/sell?productId='+data[i].productId+'">'
                t +=                '<img src="/imgLoad?img='+data[i].img+'" />'
                t +=            '</a>'
                t +=        '</picture>'
                t +=    '</td>'
                t +=    '<td>'+data[i].productName+'</td>'
                t +=    '<td>'
                t +=        '<span class="price"><em class="discount">'+(data[i].discount==0 ? '' : data[i].discount+'%')+'</em><em>'+data[i].price+'</em></span>'
                t +=        '<div class="color">'
                data.cnt = JSON.parse(data[i].cnt)
                
                for(let color in data.cnt){
                    t += '<div class="color-'+color+'" style="background-color:#'+color+';' +
                            'border-color:#'+(parseInt(color)>7631988?"000000":'ffffff')+';' +
                            'color:#'+(parseInt(color)<7631988?"ffffff":'000000')+';">'
                    for(let size in data.cnt[color]){
                        t += '<input type="hidden" class="c-'+color+"-"+size+'" value="'+data.cnt[color][size]+'">'
                        if(Object.keys(c_total).includes(color)){
                            c_total[color] += parseInt(data.cnt[color][size])
                        }else{
                            c_total[color] = parseInt(data.cnt[color][size])
                        }
                    }
                    t += '</div>'
                }
                t +=        '</div>'
                t +=        '<select>'
                t +=        '<option selected hidden class="default">사이즈</option>'
                let color = Object.keys(data.cnt)[0];
                for(let i=0;i<Object.keys(data.cnt[color]).length;i++){
                    t += '<option value="'+color+'-'+Object.keys(data.cnt[color])[i]+'" '+
                                'style="background-color:#'+color+';' +
                                'color:#'+(parseInt(color)<7631988?"ffffff":'000000')+';">'
                    t += Object.keys(data.cnt[color])[i]
                    t += '</option>'
                }
                t +=        '</select>'
                t +=    '</td>'
                t +=    '<td>'
                t +=        '<div class="size-cnt">'
                for(let color in data.cnt){
                    for(let size in data.cnt[color]){
                        if(data.cnt[color][size] > 0){
                        t += '<div class="size-cnt-one">'
                        t +=     '<div class="color-'+color+'" style="background-color:#'+color+';' +
                                    'border-color:#'+(parseInt(color)>7631988?"000000":'ffffff')+';' +
                                    'color:#'+(parseInt(color)<7631988?"ffffff":'000000')+';"></div>'
                        t +=     '<label class="size">'+size+'</label>'
                        t +=     '<label class="cnt">'
                        t +=         '<span class="minus-btn">'
                        t +=             '<label></label>'
                        t +=         '</span>'
                        t +=         '<span class="num">'+data.cnt[color][size]+'</span>'
                        t +=         '<span class="plus-btn">'
                        t +=             '<label></label>'
                        t +=             '<label></label>'
                        t +=         '</span>'
                        t +=      '</label>'
                        t +=      '<label class="money">'+(parseInt(data[i].price * ((100-parseInt(data[i].discount))*0.01))*parseInt(data.cnt[color][size]))+'원</label>'
                        t += '</div>'
                        }
                    }
                }
                t +=        '</div>'
                t +=        '<p class="total-money"><span class="total-cnt">총 0개</span><span class="money">0원</span></p>'
                t +=    '</td>'
                t += '</tr>'
                document.querySelector("tbody").innerHTML += t;

                let el = document.querySelectorAll("tbody tr")[i]
                let el2 = el.querySelectorAll(".size-cnt-one .num")
                let el3 = el.querySelectorAll(".size-cnt-one .money")
                let total_cnt = 0
                let total_money = 0
                for(let a=0;a<el2.length;a++){
                    total_cnt += parseInt(el2[a].textContent)
                    total_money += parseInt(el3[a].textContent.replace("원",""))
                }
                el.querySelector(".total-money .total-cnt").textContent = "총 "+total_cnt+"개"
                el.querySelector(".total-money .money").textContent = total_money+"원"
                
            }
            
            
            
        },
        error : function(error){
            console.log(error)
        }
    });


    document.querySelector("tbody").addEventListener("click",(e)=>{
        if(e.target.className=='plus-btn'){
            let num = parseInt(e.target.previousElementSibling.textContent)
            num += 1
            e.target.previousElementSibling.textContent = num
            calculate(e.target)
        }else if(e.target.tagName=='LABEL' && e.target.parentNode.className == 'plus-btn'){
            let num = parseInt(e.target.parentNode.previousElementSibling.textContent)
            num += 1
            e.target.parentNode.previousElementSibling.textContent = num
            calculate(e.target.parentNode)
        }else if(e.target.className=='minus-btn'){
            let num = (e.target.nextElementSibling.textContent);
            num -= 1
            e.target.nextElementSibling.textContent = num
            calculate(e.target)
            if(num<1){
                e.target.parentNode.parentNode.remove()
            }
        }else if(e.target.tagName=='LABEL' && e.target.parentNode.className == 'minus-btn'){
            let num = (e.target.parentNode.nextElementSibling.textContent);
            num -= 1
            e.target.parentNode.nextElementSibling.textContent = num
            calculate(e.target.parentNode)
            if(num<1){
                e.target.parentNode.parentNode.parentNode.remove()
            }
        }else if(e.target.className == 'cancel-btn'){
            e.target.parentNode.parentNode.remove()
        }else if(e.target.parentNode.className == 'color'){
            let v = e.target.querySelectorAll("input");
            for(let i=0;i<v.length;i++){
                let vv = v[i].className.split("-")
                e.target.parentNode.parentNode.querySelectorAll("option")[i+1].value = vv[1]+"-"+vv[2]
                e.target.parentNode.parentNode.querySelectorAll("option")[i+1].style.backgroundColor = '#'+vv[1]
                e.target.parentNode.parentNode.querySelectorAll("option")[i+1].style.color = '#'+(parseInt(vv[1])<7631988?"ffffff":'000000')
            }
        }
    })

    document.querySelector("table").addEventListener("input",(e)=>{
        if(e.target.tagName == 'SELECT'){
            let tr = e.target.parentNode.parentNode
            let el = tr.querySelectorAll(".size-cnt-one");
            let ch = -1;
            for(let i=0;i<el.length;i++){
                if(e.target.value == el[i].querySelector("div").className.split("-")[1]+"-"+el[i].querySelector(".size").textContent){
                    ch = i
                    break
                }
            }
            
            if(ch == -1){
                let t = ""
                let color = e.target.value.split("-")[0]
                let size = e.target.value.split("-")[1]
                let price = parseInt(tr.querySelectorAll(".price em")[1].textContent)
                let discount = parseInt(tr.querySelectorAll(".discount")[0].textContent)
                t += '<div class="size-cnt-one">'
                t +=     '<div class="color-'+color+'" style="background-color:#'+color+';' +
                            'border-color:#'+(parseInt(color)>7631988?"000000":'ffffff')+';' +
                            'color:#'+(parseInt(color)<7631988?"ffffff":'000000')+';"></div>'
                t +=     '<label class="size">'+size+'</label>'
                t +=     '<label class="cnt">'
                t +=         '<span class="minus-btn">'
                t +=             '<label></label>'
                t +=         '</span>'
                t +=         '<span class="num">1</span>'
                t +=         '<span class="plus-btn">'
                t +=             '<label></label>'
                t +=             '<label></label>'
                t +=         '</span>'
                t +=      '</label>'
                t +=      '<label class="money">'+(parseInt(price * ((100-parseInt(discount))*0.01)))+'원</label>'
                t += '</div>'

                tr.querySelector(".size-cnt").innerHTML += t
                calculate(tr.querySelectorAll(".cnt .plus-btn")[tr.querySelectorAll(".cnt").length-1])
            }
        }
    })


    function calculate(target){
        let currentTarget = target.parentNode.parentNode.parentNode.parentNode.parentNode
        let discount = currentTarget.querySelectorAll(".price em")[0].textContent
        discount = discount == '' ? 0 : parseInt(discount)
        let money = parseInt(currentTarget.querySelectorAll(".price em")[1].textContent);
        let num = parseInt(target.parentNode.parentNode.querySelector(".num").textContent)
        target.parentNode.parentNode.querySelector(".money").textContent = (num * parseInt(money * ((100-parseInt(discount))*0.01))) + '원'
        
        let total_num = 0;
        for(let i=0;i<currentTarget.querySelectorAll(".size-cnt-one .num").length;i++){
            total_num += parseInt(currentTarget.querySelectorAll(".size-cnt-one .num")[i].textContent)
        }
        currentTarget.querySelector(".total-cnt").textContent = total_num + '개'
        currentTarget.querySelector(".total-money .money").textContent = (total_num * parseInt(money * ((100-parseInt(discount))*0.01))) + '원'
    }
</script>
</html>