<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.chatting.ChatMapper">
    <insert id="chatSave">
        INSERT INTO chat_history
        (
            message
            , sender
            , userId
        )
        VALUES(
            #{message}
            , #{sender}
            , #{userId}
        )
    </insert>
    <select id="chatList" resultType="Map">
        SELECT
            message
            , sender
        FROM chat_history
        WHERE userId=#{userId} AND cdate >= date_add(now(), interval -7 day)

    </select>
</mapper>