<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.comment.CommentMapper">

    <insert id="commentSave">
        INSERT INTO comments
        (rating, content, title, productId, userId)
        VALUES(
            #{rating}
            , #{content}
            , #{title}
            , #{productId}
            , #{userId}
        )
    </insert>

    <update id="commentUpdate">
        UPDATE comments
        SET
            rating=#{rating}
            ,content=#{content}
            ,title=#{title}
        WHERE commentId=#{commentId}
    </update>

    <select id="productReview" resultType="Map">
        SELECT
            a.commentId
            ,a.rating
            ,a.content
            ,a.title
            ,a.productId
            ,a.cdate
            ,b.avg
        FROM comments a
        INNER JOIN (SELECT AVG(rating) avg FROM comments) b
        WHERE productId=#{productId}
        limit #{reviewStartNum},11
    </select>

    <delete id="commentDelete">
        DELETE FROM comments
        WHERE commentId=#{commentId}
    </delete>
</mapper>