<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.delivery.CourierCompanyMapper">

    <delete id="courierCompanyCodeTruncate">
        TRUNCATE shopping.courierCompanyCode;
    </delete>

    <insert id="courierCompanyCodeSave">
        INSERT INTO courierCompanyCode
        (companyName, companyCode, international)
        VALUES(#{companyName}, #{companyCode}, #{international})
    </insert>

    <select id="courierCode" resultType="String">
        SELECT
            companyCode
        FROM courierCompanyCode
        WHERE companyName=#{companyName}
    </select>
</mapper>