<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.delivery.DeliveryMapper">

    <insert id="deliverySave">
        <selectKey keyProperty="deliveryId" order="AFTER" resultType="int">
            SELECT lastval(sq_delivery);
        </selectKey>
        INSERT INTO deliveryList
        (
            address
            , totalAmount
            , userId
            , name
            , phon
            , request
            , quantity
            , tid
        )
        VALUES(
            #{address}
            , #{totalAmount}
            , #{userId}
            , #{name}
            , #{phon}
            , #{request}
            , #{quantity}
            , #{tid}
        )

    </insert>

    <select id="deliveryList" resultType="Map">
        SELECT
            a.deliveryId
            , a.address
            , a.totalAmount
            , a.userId
            , DATE_FORMAT(a.cdate,'%Y-%m-%d %H:%i:%s') cdate
            , a.status
            , a.name
            , a.phon
            , a.request
            , a.quantity
            , a.tid
            , a.trackingCode
            , a.companyName
            , count(*) as kindCnt
        FROM deliveryList a
        INNER JOIN deliveryDetail b
        ON a.deliveryId = b.deliveryId
        WHERE a.userId=#{userId}
        GROUP BY b.deliveryId
        LIMIT #{start},11
    </select>

    <select id="getDelivery">
        SELECT
            deliveryId
            , address
            , totalAmount
            , userId
            , DATE_FORMAT(cdate,'%Y-%m-%d %H:%i:%s') cdate
            , status
            , name
            , phon
            , request
            , quantity
            , tid
        FROM deliveryList
        WHERE deliveryId=#{deliveryId}
    </select>
    
    <update id="deliveryStatusUpdate">
        UPDATE deliveryList
        SET
            status=#{status}
        WHERE tid=#{tid}
    </update>

    <update id="deliveryRepay">
        UPDATE deliveryList
        SET
            tid=#{newTid}
        WHERE tid=#{tid}
    </update>

    <insert id="deliveryDetailSave">
        INSERT INTO deliveryDetail
        (
            productId
            , cnt
            , img
            , price
            , discount
            , productName
            , deliveryId
        )VALUES(
            #{productId}
            , #{cnt}
            , #{img}
            , #{price}
            , #{discount}
            , #{productName}
            , #{deliveryId}
        );
    </insert>

    <select id="deliveryDetailList" resultType="Map">
        SELECT
            productId
            , cnt
            , img
            , price
            , discount
            , productName
            , deliveryId
        FROM deliveryDetail
        WHERE deliveryId=#{deliveryId}
    </select>

    <select id="deliveryDetailCommentsList" resultType="Map">
        SELECT
        a.productId
        , a.cnt
        , a.img
        , a.price
        , a.discount
        , a.productName
        , a.deliveryId
        , b.commentId
        , b.rating
        , b.content
        , b.title
        , b.userId
        FROM deliveryDetail a
        LEFT OUTER JOIN comments b
        ON a.productId = b.productId
        WHERE (a.deliveryId=#{deliveryId})
        OR (b.userId = #{userId} AND a.productId=#{deliveryId})
    </select>

    <insert id="deliveryAddressSave">
        <selectKey keyProperty="deliveryAddressId" order="AFTER" resultType="int">
            SELECT lastval(sq_address);
        </selectKey>
        INSERT INTO deliveryAddressList
        (
            userId
            , name
            , postcode
            , address
            , detailAddress
            , extraAddress
            , phon
            , defaultYn
        )
        VALUES(
            #{userId}
            , #{name}
            , #{postcode}
            , #{address}
            , #{detailAddress}
            , #{extraAddress}
            , #{phon}
            , #{defaultYn}
        );
    </insert>

    <update id="deliveryAddressChange">
        UPDATE deliveryAddressList
        SET
            name=#{name}
            , postcode=#{postcode}
            , address=#{address}
            , detailAddress=#{detailAddress}
            , extraAddress=#{extraAddress}
            , phon=#{phon}
            , defaultYn=#{defaultYn}
        WHERE deliveryAddressId=#{deliveryAddressId}
    </update>

    <update id="deliveryAddressChangeDefaultYn">
        UPDATE deliveryAddressList
        SET defaultYn = 'N'
        WHERE userId=#{userId}
    </update>

    <select id="deliveryAddressList" resultType="Map">
        SELECT
            userId
            , name
            , postcode
            , address
            , detailAddress
            , extraAddress
            , phon
            , defaultYn
            , deliveryAddressId
        FROM deliveryAddressList
        WHERE userId=#{userId}
        ORDER BY defaultYn desc
    </select>

    <select id="deliveryAddressOne">
        SELECT
            userId
            , name
            , postcode
            , address
            , detailAddress
            , extraAddress
            , phon
            , defaultYn
            , deliveryAddressId
        FROM deliveryAddressList
        WHERE deliveryAddressId=#{deliveryAddressId}
    </select>

    <select id="deliveryAddressDefault">
        SELECT
            userId
            , name
            , postcode
            , address
            , detailAddress
            , extraAddress
            , phon
            , defaultYn
            , deliveryAddressId
        FROM deliveryAddressList
        WHERE userId=#{userId} AND defaultYn='Y'
    </select>

    <delete id="deliveryAddressDelete">
        DELETE FROM deliveryAddressList
        WHERE deliveryAddressId=#{deliveryAddressId}
    </delete>
</mapper>