<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.product.ProductMapper">

    <insert id="productSave">
        INSERT INTO products
        (
            , productName
            , price
            , category
            , explanation
            , productId
            , img
            , discount
            , smallCategory
            , cnt
        )
        VALUES(
            , #{productName}
            , #{price}
            , #{category}
            , #{explanation}
            , #{productId}
            , #{img}
            , #{discount}
            , #{smallCategory}
            , #{cnt}
        );
    </insert>

    <select id="productList" resultType="Map">
        SELECT
            , productName
            , price
            , category
            , explanation
            , productId
            , img
            , discount
            , smallCategory
            , cnt
        FROM products
    </select>

    <update id="productUpdate">
        UPDATE products
        SET
            , productName = #{productName}
            , price = #{price}
            , category = #{category}
            , explanation = #{explanation}
            , img = #{img}
            , discount = #{discount}
            , numberOfSalse = #{numberOfSalse}
            , smallCategory = #{smallCategory}
            , cnt = #{cnt}
        WHERE productId=#{productId}
    </update>

    <select id="top10" resultType="Map">
        SELECT
            category
            , productName
            , productId
            , price
            , img
            , ranking
            , discount
        FROM (
            SELECT
                category
                , productName
                , productId
                , price
                , img
                , discount
                , RANK() OVER(PARTITION BY category ORDER BY numberOfSalse DESC, productId DESC) ranking
            FROM products
        ) a
        WHERE a.ranking &lt;= 10;
    </select>

    <select id="listAll" resultType="Map">
        SELECT
            productName
            , productId
            , price
            , img
            , discount
        FROM products
        <choose>
            <when test = "smallCategory == null">
                WHERE category=#{category}
            </when>
            <otherwise>
                WHERE category=#{category} and smallCategory=#{smallCategory}
            </otherwise>
        </choose>
        LIMIT #{startNum},11
    </select>

    <select id="getProduct">
        SELECT
            productName
            , concat(category,'-',smallCategory) AS category
            , productId
            , price
            , img
            , discount
            , cnt
        FROM products
        WHERE productId = #{productId}
    </select>
</mapper>