<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.user.UserMapper">


    <insert id="userSave">
        INSERT INTO user
        (name, userId, address, phonNumber, gender, password, yyyymmdd, email)
        VALUES(
            #{name}
            , #{userId}
            , #{address}
            , #{phonNumber}
            , #{gender}
            , #{password}
            , #{yyyymmdd}
            , #{email}
        )
    </insert>

    <update id="userDelete">
        UPDATE user
        SET deleteYn='Y'
        WHERE userId=#{userId}
    </update>

    <select id="login" resultType="Map">
        SELECT
            name
            , userId
            , address
            , phonNumber
            , gender
            , password
            , yyyymmdd
            , email
            , deleteYn
        FROM user
        WHERE userId=#{userId} AND password=#{password}
    </select>

    <update id="passwordUpdate">
        UPDATE user
        SET password=#{newPassword}
        WHERE userId=#{userId} AND password=#{password}
    </update>

    <select id="findId" resultType="int">
        SELECT
            COUNT(*)
        FROM user
        WHERE name=#{name} AND email=#{email}
    </select>

    <select id="findPassword" resultType="int">
        SELECT
            COUNT(*)
        FROM user
        WHERE name=#{name} AND email=#{email} AND userId=#{userId}
    </select>

</mapper>