<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shopping.user.UserMapper">


    <insert id="userSave">
        INSERT INTO user
        (name, userId, address, phonNumber, gender, password, yyyymmdd, email)
        VALUES(
            #{name}
            , #{userId}
            , #{address}
            , #{phonNumber}
            , #{gender}
            , #{password}
            , #{yyyymmdd}
            , #{email}
        )
    </insert>

    <update id="userDelete">
        UPDATE user
        SET deleteYn='Y'
        WHERE userId=#{userId}
    </update>

    <select id="login" resultType="int">
        SELECT
            count(*) AS cnt
        FROM user
        WHERE userId=#{userId} AND password=#{password}
    </select>

    <update id="passwordUpdate">
        UPDATE user
        SET password=#{newPassword}
        WHERE userId=#{userId} AND password=#{password} AND deleteYn = 'N'
    </update>

    <update id="passwordUpdate2">
        UPDATE user
        SET password=#{newPassword}
        WHERE userId=#{userId} AND deleteYn = 'N'
    </update>

    <select id="findId" resultType="String">
        SELECT
            userId
        FROM user
        WHERE name=#{name} AND email=#{email}
    </select>

    <select id="findPassword" resultType="String">
        SELECT
            CASE
                WHEN COUNT(*) >= 1 THEN HEX(RAND()*0xFFFFFFFF)
                ELSE '0'
            END result
        FROM user
        WHERE name=#{name} AND email=#{email} AND userId=#{userId}
    </select>

    <select id="idDoubleCheck" resultType="int">
        SELECT
            COUNT(*)
        FROM user
        WHERE userId=#{userId}
    </select>
</mapper>